@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    /* border: solid black 1px; */
}

html {
    height: 100%;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', cursive;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.qr-container {
    background-color: white;
    margin: 0;
    width: 325px;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    box-shadow: 0px 3px 10px hsl(0, 0%, 48%, 0.464);
}

h1 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

p {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    padding: 0;
    width: 85%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

header {
    text-align: center;
    margin: 10px 20px 10px;
}

img {
    max-width: 100%;
    padding: none;
    margin: 15px;
    border-radius: 15px;
}

.attribution { 
    font-size: 11px;
    text-align: center;
    color: hsl(218, 44%, 22%);
    margin-top: 15px;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}